<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523694665/tr2ks4dadaemdbtaqtxw.png" alt="Living Room">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523694658/rixbm4dw1ehk0h1nfer2.png" alt="Bedroom">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523694652/gvxvsi8gz4bdsb1o1ksg.png" alt="Bathroom">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523694655/uh1kxhixsk5rlwc8xdfa.png" alt="Kitchen">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
