<div class="row">
  <div id="aptcarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="height: 350px" src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523695657/ovazoynmtujl0n1jl7of.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="height: 350px" src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523695661/p9cfozuazmoic038aalb.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="height: 350px" src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523695658/qglwwcprujfgwi3cal3y.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="height: 350px" src="https://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1523695657/vydsmghmo2m1cdd74zi0.jpg" alt="Fourth slide">
      </div>
    </div>
  </div>
</div>
