<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1582024554/lxoivzf0zqbmpvslfq34.png" alt="Living Room">
    </div>
    <div class="carousel-item">
      <img src="http://res.cloudinary.com/tokeet/image/upload/http://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1582024656/k9tplopl4otcmqmyn1rz.png" alt="Bathroom">
    </div>
    <div class="carousel-item">
      <img src="http://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1582024627/vteod1wpdwghazskr2em.png" alt="Bedroom">
    </div>
    <div class="carousel-item">
      <img src="http://res.cloudinary.com/tokeet/image/upload/h_350,c_limit,q_auto:eco/v1582024599/qtjr3z9n4yiujlotxjx0.png" alt="Kitchen">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
