<div class="footer">
  <div class="footer-link">
    <a href="instagram.com/primeroapartments"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/PrimeroApartments/"><i class="fa fa-facebook"></i></a>
    <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
    <a href="https://www.linkedin.com/company/primeroapartments/about/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    <%= link_to "About", about_path, class: "footer-item footer-link" %>
    <%= link_to "T&Cs", terms_path, class: "footer-item footer-link" %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: "footer-item footer-link" %>
  </div>
  <div class="footer-link">
    <a href=“mailto:info@primeroapartments.com”>© <%= Time.current.year %> Primero Apartments</a>
  </div>
</div>
