<h1>About</h1>

<p>Established in 2016, Primero Apartments provides high-quality apartments at affordable rates. We specialise in providing leisure and business travellers with beautifully presented and conveniently located properties that are available from 2 nights up to several months. <br><br>

Our aim is always to deliver a personal and intuitive service that anticipates the unique needs of our guests. If you require somewhere to stay while away on business, our apartments are ideally suited, enabling you to get work done within easy reach of local business districts. And leisure visitors will find Primero Apartments’ properties have a home-from-home feel that allows everyone to relax and enjoy themselves.</p>
