<div class="container">
  <div class="text-center, margin-top">
  <h1>Get in touch</h1>
  <hr class="style-three">
    <p>71-75 Shelton Street <br>
      Covent Garden <br>
      London, WC2H 9JQ <br><br>
      Limited Company registered in England and Wales. <br>
      Registration number 10457936</p>

      Email: <a href=“mailto:info@primeroapartments.com” style="text-decoration: none; color: #212529;">info@primeroapartments.com</a>
      <br>
  </div>
  <hr class="style-three">
</div>
