<div class="container">
  <div class="text-center, margin-top">
    <h1>FAQ</h1>
  </div>

  <div class="text-justify">

<hr class="style-three">

  <div class="chapter">
    <input id="chapter-one" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-one">1. Can we check in early?</label>
    <div class="chapter-content">
      <p>Whether an earlier check-in is possible depends on whether the apartment was occupied the night before. If that is the case, then the cleaners need the time until 4pm to get the apartment ready for you. However, you can leave your luggage in the apartment and explore the area while the apartment is being prepared. If the apartment was not occupied the night before you can check in at any time.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-two" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-two">2. Can we check out late?</label>
    <div class="chapter-content">
      <p>  Our standard check-out time is 10:00. We offer late check-out options which are subject to availability.
        <br>
      Option A: Check-out by 12pm (£19)
        <br>
      Option B: Check-out by 2pm (£29)</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-three" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-three">3. What are the WIFI Details?</label>
    <div class="chapter-content">
      <p>The Wi-Fi name is ‘PrimeroGuest’ and the password is ‘Apartment4Tonight’.</p>
    </div>
  </div>


  <div class="chapter">
    <input id="chapter-four" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-four">4. How do we check into the apartment?</label>
    <div class="chapter-content">
      <p>All our apartments are self-check-in and key-free. Use the codes and follow the procedure in the Confirmation Email which you receive shortly before your arrival.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-five" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-five">5. How do we check out of the apartment?</label>
    <div class="chapter-content">
      <p>To check out of the apartment on your departure date, simply close the door of the apartment when you leave. No need to take out the rubbish or replace any consumables.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-six" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-six">6. Is there a security deposit to pay?</label>
    <div class="chapter-content">
      <p>We routinely pre-authorise an amount on your card as a security deposit. The deposit is fully refundable upon check-out subject to no damage being found in the apartment or any violations of our house rules as a result of your stay. The pre-authorisation will be released after check-out and can take up to 10 days to appear in your account.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-seven" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-seven">7. Can we smoke in the apartment?</label>
    <div class="chapter-content">
      <p>All our apartments are strictly no-smoking (including weed and vaping) due to fire safety regulations. If guests wish to smoke then this must be done outside on the street and cigarette butts must be disposed outside of the property. When tobacco or marijuanna smoking or vaping occurs in the apartment during your stay a £250 Cleaning Fee will be charged and you may risk eviction.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-eight" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-eight">8. How can we use the sofa bed?</label>
    <div class="chapter-content">
      <p>We prepare bedding for the sofa bed and leave it in the cupboard or inside the sofa bed for you to use.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-nine" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-nine">9. How can we control the temperature in the apartment?</label>
    <div class="chapter-content">
      <p> All of our apartments are electrically heated and the temperature can be adjusted on each radiator separately. Please refer to the information in your Check-in Email for more information.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-ten" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-ten">10. Is it possible to store luggage in the apartment after our stay?</label>
    <div class="chapter-content">
      <p>Unfortunately, we’re unable to store luggage after your check-out.</p>
    </div>
  </div>

  <div class="chapter">
    <input id="chapter-eleven" type="checkbox" name="chapters">
    <label class="chapterlabel" for="chapter-eleven">11. What happens to luggage we have left?</label>
    <div class="chapter-content">
      <p>We will try our best to keep left luggage safe although we cannot accept responsibility for any items left behind. Where cleaners have found items and put them into storage we make every effort to post it to you or arrange for you to pick it up (extra charges will apply).</p>
    </div>
  </div>
  </div>
<hr class="style-three">
</div>
