
<header>
  <h2>Flexible Service <br>Accomodation in</h2>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
<div class="container">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <br><br><br><br>
      <div class="homepage_card">Book accomodation in</div>
    </div>
  </div>
 </div>>

</header>


<section>

</section>
