
<header>
  <h4 class="text-center">Flexible Serviced <br>Accomodation in</h4>
  <h2 class="text-center">Sheffield</h2>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
<div class="container">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <br><br>
      <div class="homepage_card">Book your accomodation in
        <br> <br>
        <a href="http://www.google.com" target="_parent"><button class="button-white">Sheffield</button><br>
        <a href="http://www.google.com" target="_parent"><button class="button-white">Cardiff</button><br>
        <a href="http://www.google.com" target="_parent"><button class="button-white">Basingstoke</button><br>
        <button class="button-white">Birmingham - coming soon!</button>
        <!-- <button class="button-white">Preston - coming soon!</button> -->
      </div>
    </div>
  </div>
 </div>>
</header>




<section>
<h2 class="text-center"> Testimonials </h2>
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="100 100 0 0" preserveAspectRatio="none">
   <polygon fill="white" points="100,0 0,100 0,0"/>
 </svg>



</section>
