<div class="container">
  <div class="text-center, margin-top">
    <h1>Terms and Conditions Agent</h1>
    <h3>PRIMERO APARTMENTS LTD</h3>
  </div>
<hr class="style-three">

<div class="text-center, margin-top">
  <h3>Booking Terms and Conditions</h3>
</div>

<br>
By booking accommodation through PRIMERO APARTMENTS you are agreeing to the following terms and conditions:
<br>
<br>

<ol class="main">
    <li>DEFINITIONS
        <ol>
            <li>PRIMERO APARTMENTS LTD is a Limited Company registered in England and Wales number 10457936 of 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ. References to ‘PRIMERO APARTMENTS’, ‘We’, ‘Us’, ‘Our’ mean PRIMERO APARTMENTS LTD</li>
            <li>References to ‘you’ or ‘your’ means the person or organisation making the booking through PRIMERO APARTMENTS.</li>
            <li>The ‘Supplier’ means the organisation, individual, partnership or company, which supplies the accommodation. The identity and details of the Supplier will be confirmed in the booking confirmation email supplied by PRIMERO APARTMENTS.</li>
        </ol>
    </li>
<br>
    <li>THE BOOKING
        <ol>
            <li>Your booking is with the Supplier. PRIMERO APARTMENTS acts as an agent for the Supplier in facilitating a booking through this website, by email or telephone and your contract for the booking will be between you and the Supplier in accordance with these terms.</li>
            <li>These terms apply to bookings made via the PRIMERO APARTMENTS - website, by email, telephone or in person or via third-party booking websites with PRIMERO APARTMENTS.</li>
            <li>Your booking is confirmed and a legal contract concluded once your payment of all or part of the rental charge has been successfully made. No booking is made or contract concluded when payment is declined or unauthorised.</li>
            <li>PRIMERO APARTMENTS will facilitate payment of your booking but you do not pay any fee or charge to PRIMERO APARTMENTS for its services. PRIMERO APARTMENTS will charge to the Supplier a management fee in respect of each booking, which is payable to PRIMERO APARTMENTS by the Supplier.</li>
            <li>You agree that the booking is for a short term stay for leisure, business or temporary purposes and does not give rise to an assured shorthold tenancy or lease and is an excluded agreement within the meaning of s.3A(7)(a) of the Protection from Eviction Act 1977.</li>
            <li>Bookings can be for any length from one night up to three months. Bookings may be made at any time up to 9.00pm on the first night of your stay.</li>
            <li>Bookings may only be made by a person aged 18 or above and there must be at least one person aged 18 or above staying in the accommodation.</li>
            <li>You may not re-sell or re-assign your booking to any other person or organisation except with the express authority of the Supplier.</li>
            <li>If you or any member of your party has any medical problem or disability, which may affect your stay, please tell us at the time of your booking. If We reasonably feel unable to properly accommodate the particular needs of the person concerned, We must reserve the right to decline the reservation or, if full details are not given at the time of booking, We reserve the right to cancel when We become aware of these details.</li>
        </ol>
    </li>
<br>
    <li>PAYMENT AND CANCELLATIONS
      <ol>
        <li>All payments shall be made by Credit, Debit Card or Bank Transfer. Payment must be made in UK Pounds Sterling and must be clear of all bank charges, exchange rate variations, and any other deductions. A 2% surcharge will be made on all Credit Card and non-UK Debit Card payments and a 4% surcharge on all AMEX payments. There is no surcharge for UK Debit Cards.</li>
        <li>Where Creditor Debit Card details are held by us the final payment, or any subsequent payment requests, made in line with these terms and conditions and notified to you, will automatically be debited from the card. When payment is made via bank transfer We reserve the right to charge a security deposit that is refunded after your stay in line with 3.1. of this document.</li>
        <li>Full payment is required upon booking unless expressly agreed otherwise by the Supplier. PRIMERO APARTMENTS shall supply an invoice on behalf of the Supplier.</li>
        <li>All prices are quoted in UK Pounds Sterling. The total price for your entire stay will be presented to you before you confirm your booking and make payment. Pricing is dynamic and therefore the price for the same or similar accommodation may vary over time after your booking is made. This does not confer upon PRIMERO APARTMENTS or the Supplier any right to require additional payment where the price increases and does not confer any right on you to a discount if the price decreases. Unless otherwise specified, the prices quoted for all serviced apartments include utilities and taxes.</li>
        <li>The following cancellations provisions apply unless specified otherwise in the reservation information provided prior to booking.</li>
        <li>Both PRIMERO APARTMENTS (on behalf of the Supplier)and you may cancel the booking at any time up to 14 days prior to the first day of your booking in which case a full refund will be made to you.</li>
        <li>If you cancel the booking within 14 days of the first day of your booking then the Supplier reserves the right to retain the full amount paid. Any refund will be at the Supplier’s entire discretion unless it is able to book out the accommodation to other guests, in which case it shall make a refund to you of your booking cost, less any difference in price where the replacement booking was off a lesser value. Delayed arrivals and early departures will be treated as cancellation, even if additional nights are added to the end or beginning of the stay, and so will be subject to the cancellation charge if the change is made 14 days or less prior to the first date changed.</li>
        <li>The Supplier reserves the right to cancel bookings within 14 days of the first day of the reservation where it is necessary due to reasons outside of the Supplier’s reasonable control or in the event of an overbooking due to delays or errors within the booking system. In the event of such cancellation you will receive a full refund.</li>
      </ol>
    </li>
<br>
    <li>YOUR STAY
        <ol>
            <li>While every effort is made to adhere to the apartment location, postal number and price stated in a booking, We reserve the right to vary the location and postal number of the apartment at any time until check-in. Any variation will be communicated to the client in writing by post or email. On receiving notification, the client has forty-eight hours to communicate non-acceptance of the variation described. If no such communication is received, the client is assumed to have accepted the variation. If communication of non-acceptance is received within forty-eight hours, all paid funds will be returned to the client without any deduction.</li>
            <li>Check-in time and check-out time shall be detailed in the reservation information unless expressly agreed by the Supplier otherwise. The Supplier may request an additional payment for early check-in or later check-out of up to £50. Information on the check-in and check-out procedure and access to the accommodation will be provided separately.</li>
            <li>Your booking is for serviced accommodation rather than a hotel or guesthouse service (unless expressly specified otherwise). The Supplier does not provide meals or newspapers.</li>
            <li>Included in your room/apartment will be linen and towels, shower gel and shampoo. A cleaning service is provided and further information is available on request.</li>
            <li>All apartments are fully furnished to a high standard and include a kitchen fully equipped with appliances, cutlery, crockery, and kitchen utensils. A Broadband Internet connection is provided at no extra charge. Your accommodation will also include a supply of coffee, tea and long life milk up to an average amount of consummation.</li>
            <li>You are responsible for the conduct of all persons staying within the accommodation and shall ensure that they comply with these terms and conditions. In particular you and your guests must not:</li>
            <ol>
              <li>Smoke in the premises. All rooms and common spaces in our accommodation is strictly non-smoking – you and other guests may only smoke outside of the premises.</li>
              <li>Bring any pets into the premises, with the exception of assistance dogs or unless expressly agreed by the Supplier;</li>
              <li>Bring any potentially dangerous or hazerdous materials or equipment onto the premises;</li>
              <li>Use or consume in or about the property any drugs mentioned in the Misuse of Drugs Act 1971 or any other controlled substance, the use of which may from this time on be prohibited or restricted by statute;</li>
              <li>Tamper with any fire alarms or emergency equipment;</li>
              <li>Remove, damage or destroy any Supplier property;</li>
              <li>Use the property for any business purposes whatsoever;</li>
              <li>Use the property for any illegal, immoral or improper use;</li>
              <li>Use any technology provided by the Supplier to download or access any unlawful or obscene material;</li>
              <li>Cause unreasonable disturbance to our other guests or any member of the Supplier’s staff;</li>
              <li>Interfere, nor permit anyone except authorised maintenance staff to interfere with any electrics, plumbing, heating or fixtures and fittings at the apartment. All appliances must be used strictly in accordance with the manufacturer’s manual. If no manual is present, guests should contact PRIMERO APARTMENTS.</li>
              <li>Make excessive noise particularly after 11pm especially from TVs and other electronic devices;</li>
              <li>Cause a nuisance, annoyance or damage to neighbouring, adjoining or adjacent property, or to the owners or occupier of them;</li>
              <li>Fail to return your room keys/fobs/cards at the end of your stay as, in the interests of security, the Supplier may have to replace the corresponding locks.</li>
              <li>Use the property for parties or gatherings where occupants of neighbouring apartments might be disturbed. If on arrival, it is felt you are intending to use the apartment(s) for such an event you may be refused entrance. If it is discovered that you are holding such an event after arrival you will be required to leave immediately. In such circumstances, the Supplier is not obliged to provide or locate alternative accommodation. The proportion of refund is at Our discretion.</li>
            </ol>
            <li>Guests are responsible for ensuring that the apartment is not occupied by more people than is stated on your Booking Confirmation email. We reserve the right to refuse admittance to the apartment if it is felt this condition is likely to be breached. In this case no paid funds will be returned. The apartment cannot be re-let/sublet to any other group/party without the written approval of us.</li>
            <li>Guests should ensure that they and their visitors are familiar with the fire escape routes in the building they are occupying. Fire doors and fire exits must be kept clear of obstructions at all times. On discovering a fire or on hearing the fire alarm, guests should call the fire service by dialling 999 and evacuate the building by the nearest fire escape. Guests should then await further instruction from the Fire Officer in control of the emergency. Do not attempt to re-enter the building until told to do so.</li>
            <li>Unless otherwise agreed, one set of keys will be issue to the guest as per arrangement. Guests are required to return keys, fobs and car park access cards immediately upon checking out of the property. If at any time the guest loses the keys, they must notify PRIMERO APARTMENTS immediately, who will replace the keys at a minimum charge of £50 per set of keys (cost may vary depending on property). Likewise for loss of fobs or car park access devices a charge of £100 will be charged. Call outs after 20:00, or out of hours, will not be actioned and guest will need to find alternative accommodation for the night, at a cost to themselves.</li>
            <li>Both PRIMERO APARTMENTS and the Supplier has the right to allow new potential guests to view the properties as long as We give the current guest 24 hours’ notice. Maintenance and other contractors have a right to enter the properties for on-going maintenance and safety checks. Guests will be notified in all instances. We endeavour to give 24 hours notice but this cannot be guaranteed or in the case of emergencies may not apply, threat of flooding, fire, electrical shock or gas poisoning are considered emergencies.</li>
            <li>Any items left after your checkout will be held for one month and then disposed of accordingly if unclaimed. Food items will be disposed of immediately.</li>
        </ol>
    </li>
<br>
    <li>DAMAGE
        <ol>
            <li>PRIMERO APARTMENTS reserves the right, on behalf of the Supplier, to charge to the credit/debit card used for payment or any other card used to provide security or from the security deposit charged when paying via bank transfer in respect of:</li>
              <ol>
                <li>The cost of replacing or repairing any property of the Supplier including furniture, upholstery, fittings, appliances or other fixtures and items which are damaged during your stay;</li>
                <li>The cost of replacing any items of property which are stolen from the accommodation during your stay</li>
                <li>Any breach of the Supplier’s non-smoking policy. A standard charge of £150 will be charged to your card where the Supplier finds evidence of smoking within the accommodation to cover cleaning costs but the Supplier reserves the right to charge additional amounts to cover any damage caused by smoking</li>
              </ol>
            <li>Such costs may be charged on check-out but PRIMERO APARTMENTS reserves the right, on the behalf of the Supplier, to apply such charges to your card at a later date where necessary but no later than three months after your checkout.</li>
            <li>Where We or the Supplier are unable for any reason to apply such a charge against your credit/debit card then an invoice will be sent to you and which you agree to pay within 14 days of receipt.</li>
            <li>PRIMERO APARTMENTS or the Supplier will provide a receipt including a break-down of costs for all additional charges made to your credit or debit card.</li>
        </ol>
    </li>
<br>
    <li>PRIVACY, DATA PROTECTION AND CREDIT/DEBIT CARD SECURITY
        <ol>
            <li>PRIMERO APARTMENTS processes information about you that you provide when making a reservation. We collect (a) information necessary for us to process your booking and (b) information derived from cookies. We use cookies to monitor site usage and related information. We will try to keep your data up- to-date and accurate but We provide no warranty or guarantee and bear no liability to you in the event that any data transmission over the Internet is not completely accurate or secure. By providing this information you consent (on your behalf and on behalf of each member of your group) to such processing and you warrant that all information provided by you is accurate.</li>
            <li>You should note that Suppliers are required by law to maintain a register of all guests’ names and nationality (to be taken on arrival) and to keep such details on file for at least 12 months from the date of arrival. In addition, for guests who are not of British, Irish or Commonwealth nationalities Suppliers are required to take details of your passport or other travel documentation and the address of your next destination.</li>
            <li>We use a secure third party service to process card payments (www.stripe.com/gb). This service is PCI- DSS compliant and allows us to make charges to your credit and debit card in accordance with these terms. We do not make or store any copy of your card details in Our own systems or elsewhere. You can read the privacy policy of the third party provider here: www.stripe.com/gb/privacy.</li>
            <li>Every effort has been made by Us to ensure that the information and images on Our website and portal are accurate. Please be advised that information and images are subject to change without notice. All bookings, including those booked on Our website are subject to these terms and conditions. Please ensure you are fully aware and understand the cancellation and no show policies.</li>
        </ol>
    </li>
<br>
    <li>ENQUIRIES
        <ol>
            <li>PRIMERO APARTMENTS will seek to respond to or resolve any reasonable enquiry you may direct to it in relation to your booking, however PRIMERO APARTMENTS shall not be liable for any delay in or failure to respond to or resolve an enquiry raised directly with itself. If in doubt you should contact the Supplier directly using the details provided in the booking confirmation.</li>
        </ol>
    </li>
<br>
    <li>COMPLAINTS
        <ol>
            <li>PRIMERO APARTMENTS and the Supplier want to ensure that you have an enjoyable stay.</li>
            <li>If you have a problem during your stay please talk to any member of the Supplier’s staff who will be able to help you.</li>
            <li>If the Supplier is unable to informally resolve any complaint you have at the time of your stay then you may submit a formal complaint in accordance with this procedure. Formal complaints should be submitted in writing to the Supplier email or postal address provided in the reservation information and booking confirmation. Please provide as much information as possible in order that the Supplier may properly investigate your complaint.</li>
            <li>If you wish to make a complaint about PRIMERO APARTMENTS’ services (i.e. in relation to the booking process only) then this should be submitted to the email or postal address below:</li>
            <li>Your complaint will be dealt with by an appointed member of the PRIMERO APARTMENTS management team. PRIMERO APARTMENTS aims to respond to formal complaints within 2 working days but if this will not be possible PRIMERO APARTMENTS will notify you of this and of when it expects to respond. PRIMERO APARTMENTS will set out the outcome to your complaint in writing.<br> Email address: info@primeroapartments.com<br> Postal address: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ<br></li>
            <li>PRIMERO APARTMENTS reserves the right to reject without further investigation any vexatious complaint or complaint made in bad faith.</li>
        </ol>
    </li>
<br>
    <li>LIMITATION OF LIABILITY
        <ol>
            <li>As an agent PRIMERO APARTMENTS holds no liability to you in relation to your booking or stay at and use of the accommodation. Such liability lies with the Supplier in accordance with the following terms of this clause. PRIMERO APARTMENTS or the Supplier cannot be held responsible in any way for loss or damage to contents, furniture, fittings or any other personal belongings at the apartment locations. Nor can PRIMERO APARTMENTS or the Supplier be held liable for acts or defaults caused by third parties. You are advised to ensure your own insurance policies cover loss or damage to personal property during your stay. Guests are advised to take out adequate travel and personal insurance.</li>
            <li>PRIMERO APARTMENTS endeavours to ensure that all information provided prior to, during and after your booking has been made is accurate but shall not be responsible for any incorrect or missing information regarding the accommodation or booking.</li>
            <li>The liability of the Supplier to you under these terms and conditions shall be limited to the total value of your booking (unless the Hotel Proprietor’s Act 1956 applies, in which case the Supplier’s liability will be limited to the maximum prescribed under that Act) except where such loss is caused by the Supplier’s negligence, in which case it shall be limited to any direct and reasonably foreseeable loss suffered by you.</li>
            <li>The Supplier shall not be liable in any circumstances to you for any consequential or indirect loss including loss of profit, data, management time, reputation or goodwill.</li>
            <li>The Supplier shall not be liable for any damages or loss caused by conditions or events beyond its control including, but not limited to:</li>
              <ol>
                <li>Strike, lockout or other labour dispute affecting the employees of the Supplier;</li>
                <li>Acts of God;</li>
                <li>Natural disasters;</li>
                <li>Acts of war or terrorism;</li>
                <li>Act or omission of government, highway authorities or telecommunications carrier, operator or administrator;</li>
                <li>Delay in manufacture, production or supply by third parties of equipment or services required for the performance of the Services or production and supply of the Goods;</li>
              </ol>
            <li>Nothing in this clause or these terms shall limit either the Supplier or PRIMERO APARTMENTS’ liability for death or personal injury or in respect of fraudulent misrepresentation.</li>
        </ol>
    </li>
<br>
    <li>SEVERABILITY
        <ol>
            <li>If any provision or provisions of these terms and conditions shall be held to be invalid, illegal, unenforceable or in conflict with the law of any jurisdiction, the validity, legality and enforceability of the remaining provisions shall not in any way be affected or impaired thereby. In such case, the Parties must substitute such invalid, void or unenforceable provision by another provision, which will, by its content and purpose, as nearly as possible have the content and achieve the purpose of the invalid, void and/or unenforceable provision.</li>
        </ol>
    </li>
<br>
    <li>WAIVER
        <ol>
            <li>The failure of any party at any time to require performance of any provision or to resort to any remedy provided under these terms and conditions shall in no way affect the right of that party to require performance or to resort to a remedy at any time thereafter, nor shall the waiver by any party of a breach be deemed to be a waiver of any subsequent breach. A waiver shall not be effective unless it is in writing and signed by the party against whom the waiver is being enforced.</li>
        </ol>
    </li>
<br>
    <li>ENTIRE AGREEMENT
        <ol>
            <li>These terms and conditions constitutes the entire agreement of the parties and supersedes all prior communications, understandings and agreements relating to the subject matter hereof, whether oral or written.</li>
        </ol>
    </li>
<br>
    <li>THIRD PARTY RIGHTS
        <ol>
            <li>The Supplier shall be entitled to enforce its rights under this Agreement against you or any person staying at or using the accommodation.</li>
            <li>Otherwise, nothing in this Agreement is intended to, nor shall, confer any rights on a third party unless expressly provided otherwise.</li>
        </ol>
    </li>
<br>
    <li>JURISDICTION
        <ol>
            <li>This Agreement shall be construed in accordance with English Law and the Courts of England and Wales shall have exclusive jurisdiction in so far as any matter arising from this Agreement is required to be referred to a court of law.<br>
            Confirming receipt of your Booking Confirmation email acknowledges your acceptance of these terms and conditions. Payment of the Full or Initial charge also indicates acceptance of these terms and conditions.</li>
        </ol>
    </li>
  </ol>
<br>
<hr class="style-three">
</div>


