.banner {
  position: relative;
  height: 600px;
  // background-image: linear-gradient(#3B4371, #F3904F);
  background: linear-gradient(to right,rgba(131, 96, 195, 0.5),rgba(46, 191, 45, 0.2)), url("/images/cardiff.jpg");
  background-size: cover;
  margin-top: -110px;
 }

.banner h2 {
  color: white;
  // border-radius: 2vh;
  // background-color: #061704;
  padding: 1rem;
  text-align: left;
  font: 60px 'Bungee Inline', cursive;
}

.banner h4 {
  color: white;
  padding: 1rem;
  // font: 70px 'Fugaz One', cursive;
  font: 60px 'Bowlby One SC', cursive;
  text-align: left;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

.bgimg {
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('https://images.unsplash.com/photo-1473923377535-0002805f57e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d239ac0e409e18cf74ace503c491714f&auto=format&fit=crop&w=1469&q=80');
  background-attachment: fixed;
  background-position: center top;
}
