$green: #061704;
$black: #000;
$white: #fff;
$grey: #0c3268;

// Custom button colours
.btn.btn-primero {
  background-color: $green;
  border-color: $green;
  box-shadow: none;
  color: $white;
  float: right;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    color: $white;
  }
}

.btn.btn-primero2 {
  background-color: $white;
  border-color: $white;
  box-shadow: none;
  color: $green;
  float: right;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    color: $green;
  }
}

// Mobile styles
.btn.btn-booking {
  margin-right: 0.25rem;

  @media (max-width: 767px) {
    display: table;
    float: unset;
    margin: 0 auto !important;
  }
}

.btn.btn-primero.dropdown-toggle {
  display: block;
  width: 100%;

  @media (min-width: 992px) {
    width: unset;
  }
}

.btn.btn-primero-secondary {
  background-color: $grey;
  border-color: $grey;
  box-shadow: none;
  color: $white;
  font-size: 1.6rem;
  margin: 1rem;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    color: $white;
  }
}

.btn.btn-select {
  background-color: $white;
  border: none;
  box-shadow: none;
  color: $black;

  &:hover,
  &:focus,
  &:active,
  select:hover,
  select:focus,
  select:active {
    border: none;
    box-shadow: none;
    color: $black;
  }
}

// Custom  dropdown width
.dropdown-menu {
  &.show {
    padding: 0;
    margin: 0;
    min-width: 15em;
  }

  .dropdown-divider {
    margin: 0
  }
}

#color {
  color: black;
}
// a.dropdown-item {
//   color: $black;
//   padding: 0.5rem;
// }
