.btn {
  text-align: justify !important;
  justify-content: space-between !important;
  padding: .8rem 1.2rem;
  background: transparent;
  border-radius: 6px;
  color: white;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.dropbtn {
  text-align: justify !important;
  justify-content: space-between !important;
  padding: .8rem 1.2rem;
  background: white;
  border-radius: 6px;
  color: #061704;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.dropbtndark {
  text-align: justify !important;
  justify-content: space-between !important;
  padding: .8rem 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  background: #061704;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  opacity: 0.8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F4F4F4;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #061704;
  opacity: 0.8;
}

.button-white {
  text-align: justify !important;
  justify-content: space-between !important;
  padding: .8rem 1.2rem;
  background: white;
  border-radius: 6px;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
