.footer {
  background: #F4F4F4;
  transition: all 0.3s ease;
  height: 90px;
  padding: .5rem 3rem;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}

.footer-center {
  align-content: center;
  text-align: center;
  justify-content: space-between;
}

.footer-link {
  color: #061704;
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
}

.footer-link:hover {
  color: #061704;
  text-decoration: none;
  opacity: 1;
}
.footer-item {
  cursor: pointer;
  padding: 0 20px;
}

.footer-link a {
  size: 16px;
  color: #061704;
  opacity: 0.7;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-link a:hover {
  color: #061704;
  opacity: 1;
  text-decoration: none;
}

