.homepage_card {
  overflow: hidden;
  height: 400px;
  width: 600px;
  background: #061704;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: right;
  align-items: right;
  margin-right: 6vh;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
