$green: #061704;
$black: #000;
$white: #fff;

/* Main navbar */
.navbar.nav-primero {
  transition: all 0.3s ease;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 3;

  @media (min-width: 992px) {
    height: 110px;
  }
}

/* Logo */
.navbar.nav-primero .navbar-brand {
  width: 75px;

  @media (min-width: 992px) {
    margin-top: 7rem;
    width: 200px;
  }
}

.navbar-nav .nav-item + .nav-item {
  margin-right: 0;  
}

/* Basic navbar item */
.nav-item {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
  cursor: pointer;
  padding: .375rem .75rem;
  text-align: center;
  z-index: 9999;

  @media (min-width: 992px) {
    background-color: transparent;
    border-bottom: none;
    padding: 0 1.5rem;
    opacity: 1;
  }  

  &:first-child {
    padding: 0;
  }

  a {
    display: block;
    color: $white;

    @media (min-width: 992px) {
      padding: 0.4rem 0 0;
    }

    &:hover {
      color: $white;
    }
  }
}

// Page Nav
.navbar.nav-primero-page {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(255,255,255,0);
}

.navbar.nav-primero-page a {
  color: $black;
}

.navbar.nav-primero-page .logo {
  a:hover {
    color: transparent;
  }

  img {
    margin-top: 0;
    margin-right: 2rem;
    width: 50px;

    @media (min-width: 992px) {
      width: 100px;
    }
  }
}

// Nav Toggler - Hamburger btn
button.navbar-toggler {
  border: none;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;

  &:focus {
    outline: none;
  }
}

