body{
      background: #4b2c34;
    }

    .nav-home{
      position: fixed;
      background: rgba(0, 0, 0, 0);
      padding:0px 20px;
      height: 200px;
      display: inline-block;
    }

    .navbar-home {
      background: rgba(255,255,255,0);
      transition: all 0.3s ease;
      height: 110px;
      padding: .5rem 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0px;
      z-index: 3;
    }

    .nav-background-home{
      background-color: #4b2c34;
      opacity: 0.5;
    }

    .box-home {
      height: 350px;
      width: 400px;
      background: #233714;
      border-radius: 20px;
      box-shadow: 20px 20px #f4e5c2;
      padding: 20px 20px 20px 20px;
      color: white;
    }

    .box-button-home {
      height: 20px;
      width: 40px;
      border-radius: 20px;
      text-color: #233714;
      background: #f4e5c2;
    }

    nav-home ul {
      padding-top: 50px !important;
      display: inline-block !important;
      text-align: center !important;
    }

    nav-home li a:hover{
/*      background: #061704;*/
      color:white;
    }

    button-home:focus{
      outline: none;
      background-color: #C0C0C0 !important;
    }

.navbar-brand-home img {
    height: 300px;
    position: center;
    padding-top: 100px;
    padding-left: 100px;
}

.btn-nav-home {
  text-align: justify !important;
  justify-content: space-between !important;
  padding: .8rem 1.2rem;
  background: transparent !important;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 1px;
  border: 5px;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.btn-nav-home :hover {
  opacity: 0.6;
  text-decoration: none !important;
}

.navbar-item-home {
  cursor: pointer;
  padding: 0 30px;
}
/* Navbar link */
.navbar-link-home {
  color: white;
  font-size: 14px;
}
.navbar-link-home:hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}
