$green: #061704;
$black: #000;
$white: #fff;

/* Main navbar */
.navbar.nav-primero {
  transition: all 0.3s ease;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 3;

  @media (min-width: 992px) {
    height: 110px;
  }
}

/* Logo */
.navbar.nav-primero .navbar-brand {
  width: 30%;

  @media (min-width: 992px) {
    width: 100%;
  }

  img {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%
    }

    @media (min-width: 992px) {
      margin-top: 7rem;
      width: 20%;
    }

    @media (min-width: 2560px) {
      margin-top: 22rem
    }
  }
}

/* Basic navbar item */
.nav-item {
  cursor: pointer;
  padding: 0 1.5rem;
  text-align: right;

  a {
    display: block;
    color: $white;
    padding: 0.4rem 0 0;

    @media (min-width: 992px) {
      float: right;
    }

    &:hover {
      color: $white;
    }
  }

  a.dropdown {
    display: block;
    color: $black;
    padding: 0.4rem 0 0;

    @media (min-width: 992px) {
      float: right;
    }

    &:hover {
      color: $white;
    }
  }
}

// Mobile styles
.navbar-nav {
  width: 50%;

  @media (max-width: 767px) {
    width: unset;
  }

  @media (min-width: 992px) {
    width: unset;
  }
}

// Page Nav
.navbar.nav-primero-page {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $green;
}

.navbar.nav-primero-page a {
  color: $white;
}

.navbar.nav-primero-page .logo {
  width: 50%;

  @media (min-width: 992px) {
    width: 100%;
  }

  a:hover {
    color: transparent;
  }

  img {
    margin-top: 0;
    margin-right: 2rem;
    width: 15%;

    @media (max-width: 767px) {
      width: 50px;
    }
  }
}
