// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin {
  margin-left: 20vh;
  margin-right: 20vh;
}

.margin-top {
  margin-top: 5vh;
  text-align: center;
}
