<h2>Book you Basingstoke apartment</h2>

<div class="btn">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
      window.tokeetIWSettings = {
        "element": "#widget",
        "engineDomain": "primerobasingstoke.securelettings.net",
        "type": "button",
        "showPrice": true,
        "showMinimumStay": true,
        "apiBaseUrl": "https://api.tokeet.com/",
        "apiMailBaseUrl": "https://mail.tokeet.com",
        "style": {
          "button": {
            "backgroundColor": "#061704"
          }
        }
      };
    </script>
  <div id="widget"></div>
</div>
