<h1>Book your Cardiff apartment</h1>

<div class="btn">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerocardiff.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>

<div class="text-center, margin-top">
  <h2>Book your Cardiff apartment</h2>
</div>

<hr class="style-one">

<!-- apartment 4 -->



<br>

<hr class="style-two">

<ul>

<% @apartments.each do |apartment| %>
  <li><%= apartment.name %></li>
  <li><%= apartment.description %></li>
<% end %>

</ul>
