<h2>Book your Sheffield apartment</h2>


<div class="btn">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerosheffield.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
           "general": {
          "fontFamily": "Arial"
        },
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>

<hr class="style-one">

<!-- apartment 4 -->

<div class="btn">
<a href="https://primerosheffield.securelettings.net/checkout?rental_id=6cf30a63-ed0f-432b-b8cc-497b87fa5a8c&start=[booking_start_date]&end=[booking_end_date]" target="_blank">book now</a>

</div>

<br>

<hr class="style-two">

<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="aptcarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#aptcarousel" data-slide-to="0" class="active"></li>
          <li data-target="#aptcarousel" data-slide-to="1"></li>
          <li data-target="#aptcarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/sheffield/sheffield_1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/sheffield/sheffield_2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/sheffield/sheffield_3.jpg" alt="Third slide">
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h3>The Fitzgerald</h3>
      <h6>123 Street, Sheffield, Apartment 4</h6>
    <div class="w-100"></div>
        <ul>• Sleeps up to 4 people</ul>
        <ul>• 1 bathroom</ul>
        <ul>• Fully furnished</ul>
        <ul>• Bedding and towels included</ul>
        <ul>• Fast Wifi</ul>
    <div class="w-100"></div>
        <p>Choose smart when you stay in Sheffield. This 1 bedroom Sheffield apartment accommodates up to 4 guests in modern surroundings. Part of a new development, it has been designed to appeal to discerning guests who are visiting Sheffield on business or for pleasure. This is the largest apartment we offer - so come and make yourself comfortable!</p>
    </div>
    <div class="col">
      <a href="#" class="dropbtn">Book</a>
    </div>
  </div>
</div>

<hr class="style-two">
