<div class="text-center, margin-top">
  <h2>Book your Sheffield apartment</h2>
</div>

<br>
<div class="btn, text-center, margin-top">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerosheffield.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
           "general": {
          "fontFamily": "Arial"
        },
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>
<br><br><br><br>
<hr class="style-one">

<!-- apartment 4 -->

<br>

<div class="text-center, margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<ul>

<% @apartments.each do |apartment| %>
  <li><%= apartment.name %></li>
  <li><%= apartment.description %></li>
<% end %>

</ul>
